.DS_Store
__pycache__
upload_S3
code_for_zipping.zip
handle_new_titles.zip
mainstack.sh
package-lock.json
-unnecessary
flaskproject.zip
venv
run.sh
ssh.tf
bibbo.pem
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup